
.pro-container {

    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


.pro {
    /* width: 23px;
    min-width: 250px; */
    line-height: 12px;
    background-color: white;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
    width: 100%;
    min-height: 225px;
    
    border-radius: 20px;
    /* margin-top: 10px; */
}

.pro .des {
    text-align: start;
    padding: 10px 0;
}

.pro .des span {
    color: #606063;
    font-size: 12px;
}

.pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}

.pro .eye {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 60px;

}
  
@media (max-width : 991px) {
 
.pro img {
   
 
    height: 225px;
   
    /* margin-top: 10px; */
}


    
}


@media (max-width: 576px){
  
.pro img {
   
 
    height: 300px;
   
   
}
   

}  