
*{
    box-sizing: border-box;
  }
  .xbody{
    font-size: 'Poppins',sans-serif;
    font-weight: 300;
    margin: 0 ; 
    background-color: hsl(0,0%,0%);
  
  }
  .x-container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  
  .team{
    padding: 100px 0 ; 
  }
  
  .team-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
    
  @media(min-width: 991px){
    .team-items{
       
        grid-template-columns: repeat(2, 1fr);
    }
  }
   
  @media(max-width: 575px){
    .team-items{
       
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  .team-item{
   --color-light-yellow: hsl(38,72%,75%);
   --color-light-green: hsl(148,61%,70%);
   --color-light-red: hsl(0,69%,80%);
   position: relative;
   overflow: hidden;
  }
  
  .team-item:nth-child(1){
    --item-color: var(--color-light-yellow) ; 
  }
  
  
  .team-item:nth-child(2){
    --item-color: var(--color-light-green) ; 
  }
  
  
  .team-item:nth-child(3){
    --item-color: var(--color-light-red) ; 
  }
  
  
  .team-img-box img{
    max-width: 100%;
    vertical-align: middle;
    border-radius:10px ;
    filter: grayscale(1);
  }
  
  .team-info{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px; 
    max-height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    transition: transform 1.5s ease;
    transform: translateY(calc(100% + 22px));
  
  } 
  
  .team-info.show{
    transform: translateY(0);
  }
  
  .team-btn{
    height: 40px;
    width: 40px;
    background-color: var(--item-color);
    border: none;
    position: absolute;
    right: 0;
    top: -60px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
    transition: transform 1.5s ease;
  
  }
  
  .team-info.show .team-btn{
    transform: rotate(45deg);
  }
  .team-inner{
    background-color: var(--item-color);
    border-radius: 10px;
    padding: 30px;
    overflow-y: auto;
  }
  
  .team-name{
   font-size:26px;
   text-transform: capitalize;
   margin: 0;
   line-height: 1.3;
   font-weight: 600;
   color: hsl(0,0%,0%) ; 
  }
  
  .team-position{
    font-weight: 400px ;
    color: hsl(0,0%,0%); 
    text-transform: capitalize;
  }
  
  .team-text{
    margin-top: 15px ; 
    color: hsl(0,0%,0%); 
  }
  
  .team-text p{
    margin: 0 ; 
  }
  
  .team-text p + p {
    margin-top: 15px; 
  }