
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: #344E41  ;
    color: white;
    margin-top: 30px;
}

footer .coll {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
    color: white;

}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: white;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .line img {
    border: 1px solid white;
    background-color:white;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: white;
}

footer .copyright {

    width: 100%;
    text-align: center;
    
}
