

/* Single Product */
 


 #prodetails .single-pro-image {
    width: 40% ; 
    /* height: 20%; */
    margin-right: 50px ;
} 

.carousel-item{
    height:100%;
}

.small-img-group{
    display : flex ; 
    
}

.bigimg{
    padding: 5px;
   
}


.small-img-col{
    
    flex-basis : 24% ; 
    cursor : pointer ;
    margin-top: 5px;
    /* height: 125px; */
   
}

.small-img-col:nth-child(1),
.small-img-col:nth-child(2),
.small-img-col:nth-child(3){
    margin-right: 1%;
}

#prodetails .single-pro-details {
    width : 75% ;
    padding-top : 30px ;  
}

#prodetails .single-pro-details h4 {
    padding : 40px 0 20px 0 ; 
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block ; 
    padding : 5px 10px ; 
    margin-bottom: 10px ; 
}

#prodetails .single-pro-details input {
    width : 50px;
    height : 47px ; 
    padding-left: 16px ; 
    font-size : 16px ; 
    margin-right : 10px ; 
}

#prodetails .single-pro-details button {
    background-color: #088178 ; 
    color : #fff ; 
}

#prodetails .single-pro-details input:focus{

    outline : none ; 

}

#prodetails .single-pro-details span {
    line-height : 25px ; 
}
/* 
@media(min-width: 991px){
    #prodetails .row{
        border: 1px solid rgb(202, 195, 195);
        
    }
        
} */
 
@media(max-width: 991px){
    #prodetails .single-pro-image img{
        height: 300px ;
    }
    #prodetails .small-img-group img{

        height: 90px ;
    }
    #prodetails{
       padding: 0;
       margin: 0;
    }
}

   
  @media(max-width: 575px){
   
    #prodetails .single-pro-image {
        width:100% ; 
        margin-left: 0px;
        margin-right: 0px  ;
        
       
    }
    #prodetails .single-pro-image img{
        height: 300px ;

    }

    #prodetails .single-pro-details {
        width: 100%;
      
    }

    #prodetails .small-img-group img{

        height: 100px ;
    }

    
  }