:root{
  --main: rgba(204, 215, 197, 1);
  --seconadary: rgba(239, 210, 203, 1);
  --main-dark:  rgb(131, 152, 119);
  --secondary-dark: rgba(209, 166, 158, 1);
  --contrast: rgb(0, 0, 0);
}



body{
  font-family: 'Playfair Display', serif;
  -webkit-box-sizing: border-box;
}

input[type="checkbox"]:checked {
  background: black;
  color: white;
}



.bannerimg {
  background-image: url(/public/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #ffffff;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  text-align: center;
}

.card-footer {
  background-color: #ffffff;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-align: center;
}

.card-footer button {
  background-color:var(--main);
  border: none;
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
}


.card-footer button:hover {
  background-color: rgb(131, 152, 119);
}

/*  sezione card annuncio */

.custom-card {
  width: 18rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  transition: transform 0.3s ease-in-out;
}

.custom-card:hover {
  transform: translateY(-5px);
}

.custom-card img {
  border-radius: 10px 10px 0 0;
}

.custom-card .card-body {
  padding: 1.5rem;
}

.custom-card .card-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.custom-card .card-text {
  color: #666;
}

.custom-card .price {
  font-weight: bold;
  margin-bottom: 1rem;
}

.custom-card .btn-primary {
  background-color: var(--main);
  border-color: var(--main);
  color: #000;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-card .btn-primary:hover {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
}

.custom-card .btn-success {
  background-color: var(--main);
  border-color: var(--main);
  color: #000;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.custom-card .btn-success:hover {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
}

.custom-card .card-link {
  padding-top: 0.5rem;
  color: #000;
  font-style: italic;
}

.custom-card .card-footer {
  color: #777;
  font-size: 0.8rem;
  margin-top: 1rem;
}

  .section-header {
        margin-bottom: 2rem;
    }

    .section-divider {
        width: 50px;
        height: 2px;
        background-color: #333;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .product-date {
        font-size: 14px;
        color: #888;
    }

    .product-title {
        font-size: 18px;
        margin-bottom: 0.5rem;
    }

    .product-rating {
        color: #f8ce0b;
        margin-bottom: 0.5rem;
    }

    .product-price {
        font-size: 24px;
    }

    .product-link {
        color: #333;
        font-size: 20px;
        transition: color 0.3s ease;
    }

    .product-link:hover {
        color: #f8ce0b;
    }
  